<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Touché</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MENU</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GALLERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CHEFS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- ------------------- -->
<div class="container-fluid-0">
  <div class="overlay">
    <div class="container">
      <div class="header-content">
        <h1>Touché</h1>
        <p>Restaurant / Coffee / Pub</p>
        <a href="#about" class="btn btn-custom btn-lg page-scroll">Discover Story</a>
      </div>
    </div>
  </div>
</div>
<!-- ------------------- -->
<div class="container-fluid-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../assets/about.jpg">
      </div>
      <div class="col-md-6">
        <h2> <span> OUR </span> RESTAURANT</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo
          nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
        <h3>Awarded Chefs</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo
          nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- --------------------- -->
<div class="container-fluid-2">
  <div class="overlay2">
    <div class="container">
      <h2>MENU</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed.</p>
    </div>
  </div>
</div>
<!-- ---------------------- -->
<div class="container-fluid-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="menu">
          <h2>BREAKFAST & STARTERS</h2>
          <hr>
          <div class="item-menu">
            <div class="item-menu-title">
              Delicious Dish
            </div>
            <div class="item-menu-price">
              $35
            </div>
            <div class="item-menu-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="item-menu">
            <div class="item-menu-title">
              Delicious Dish
            </div>
            <div class="item-menu-price">
              $30
            </div>
            <div class="item-menu-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="item-menu">
            <div class="item-menu-title">
              Delicious Dish
            </div>
            <div class="item-menu-price">
              $30
            </div>
            <div class="item-menu-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="item-menu">
            <div class="item-menu-title">
              Delicious Dish
            </div>
            <div class="item-menu-price">
              $30
            </div>
            <div class="item-menu-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="menu">
          <h2>MAIN COURSE</h2>
          <hr>
          <div class="item-menu">
            <div class="item-menu-title">
              Delicious Dish
            </div>
            <div class="item-menu-price">
              $45
            </div>
            <div class="item-menu-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="item-menu">
            <div class="item-menu-title">
              Delicious Dish
            </div>
            <div class="item-menu-price">
              $30
            </div>
            <div class="item-menu-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="item-menu">
            <div class="item-menu-title">
              Delicious Dish
            </div>
            <div class="item-menu-price">
              $30
            </div>
            <div class="item-menu-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="item-menu">
            <div class="item-menu-title">
              Delicious Dish
            </div>
            <div class="item-menu-price">
              $30
            </div>
            <div class="item-menu-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="menu">
          <h2>DINNER</h2>
          <hr>
          <div class="item-menu">
            <div class="item-menu-title">
              Delicious Dish
            </div>
            <div class="item-menu-price">
              $45
            </div>
            <div class="item-menu-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="item-menu">
            <div class="item-menu-title">
              Delicious Dish
            </div>
            <div class="item-menu-price">
              $350
            </div>
            <div class="item-menu-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="item-menu">
            <div class="item-menu-title">
              Delicious Dish
            </div>
            <div class="item-menu-price">
              $30
            </div>
            <div class="item-menu-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="item-menu">
            <div class="item-menu-title">
              Delicious Dish
            </div>
            <div class="item-menu-price">
              $30
            </div>
            <div class="item-menu-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="menu">
          <h2>COFFEE & DRINKS</h2>
          <hr>
          <div class="item-menu">
            <div class="item-menu-title">
              Delicious Dish
            </div>
            <div class="item-menu-price">
              $35
            </div>
            <div class="item-menu-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="item-menu">
            <div class="item-menu-title">
              Delicious Dish
            </div>
            <div class="item-menu-price">
              $30
            </div>
            <div class="item-menu-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="item-menu">
            <div class="item-menu-title">
              Delicious Dish
            </div>
            <div class="item-menu-price">
              $30
            </div>
            <div class="item-menu-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
            </div>
          </div>
          <div class="item-menu">
            <div class="item-menu-title">
              Delicious Dish
            </div>
            <div class="item-menu-price">
              $30
            </div>
            <div class="item-menu-descrip">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -------------- -->
<div class="container-fluid-4">
  <div class="overlay3">
    <div class="container">
      <h2>GALLERY</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed.</p>
    </div>
  </div>
</div>
<!-- ------------- -->
<div class="container-fluid-5">
  <div class="container">
    <ul>
      <li> <a [class.active]="selectedTab == 'all'" (click)="selectedTab = 'all'"> all </a></li>
      <li> <a [class.active]="selectedTab == 'breakfast'" (click)="selectedTab = 'breakfast'"> Breakfast </a></li>
      <li> <a [class.active]="selectedTab == 'lunch'" (click)="selectedTab = 'lunch'"> Lunch </a></li>
      <li> <a [class.active]="selectedTab == 'dinner'" (click)="selectedTab = 'dinner'"> Dinner </a></li>
    </ul>
    <div class="row">
      <div class="col-md-3">
        <img src="../assets/1.jpg" alt="" [class.d-none]="selectedTab == 'lunch' || selectedTab == dinner">
        <img src="../assets/4.jpg" alt="" [class.d-none]="selectedTab == 'lunch' || selectedTab == dinner">
        <img src="../assets/7.jpg" alt="" [class.d-none]="selectedTab == 'breakfast' || selectedTab == dinner">
        <img src="../assets/10.jpg" alt="" [class.d-none]="selectedTab == 'breakfast' || selectedTab == dinner">
      </div>
      <div class="col-md-3">
        <img src="../assets/2.jpg" alt="" [class.d-none]="selectedTab == 'lunch' || selectedTab == breakfast">
        <img src="../assets/5.jpg" alt="" [class.d-none]="selectedTab == 'lunch' || selectedTab == dinner">
        <img src="../assets/8.jpg" alt="" [class.d-none]="selectedTab == 'lunch' || selectedTab == breakfast">
        <img src="../assets/11.jpg" alt="" [class.d-none]="selectedTab == 'lunch' || selectedTab == breakfast">
      </div>
      <div class="col-md-3">
        <img src="../assets/3.jpg" alt="" [class.d-none]="selectedTab == 'lunch' || selectedTab == dinner">
        <img src="../assets/6.jpg" alt="" [class.d-none]="selectedTab == 'lunch' || selectedTab == dinner">
        <img src="../assets/9.jpg" alt="" [class.d-none]="selectedTab == 'breakfast' || selectedTab == dinner">
        <img src="../assets/12.jpg" alt="" [class.d-none]="selectedTab == 'lunch' || selectedTab == breakfast">
      </div>
    </div>
  </div>
</div>
<!-- --------------- -->
<div class="container-fluid-6">
  <div class="overlay4">
    <div class="container">
      <h2>MEET OUR CHEFS</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
      <div class="row">
        <div class="col-md-4">
          <img src="../assets/01.jpg">
          <h3>Mike Doe</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.</p>
        </div>
        <div class="col-md-4">
          <img src="../assets/02.jpg">
          <h3>Chris Doe</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.</p>
        </div>
        <div class="col-md-4">
          <img src="../assets/03.jpg">
          <h3>Ethan Doe</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ---------------- -->
<div class="container-fluid-7">
  <div class="container">
    <h2>WANT TO MAKE A RESERVATION? CALL 1-887-654-3210</h2>
  </div>
</div>
<!-- ---------------- -->
<div class="container-fluid-8">
  <div class="container">
    <h2>CONTACT FORM</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
      <div class="form-group col-md-12">
        <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
      </div>
      <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
    </div>
  </div>
</div>
<!-- --------------- -->
<div class="container-fluid-9">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>ADDRESS</h3>
        <div class="conten">
          <p>4321 California St,</p>
          <p>San Francisco, CA 12345</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>OPENING HOURS</h3>
        <div class="conten">
          <p>Mon-Thurs: 10:00 AM - 11:00 PM</p>
          <p>Fri-Sun: 11:00 AM - 02:00 AM</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>CONTACT INFO</h3>
        <div class="conten">
          <p>Phone: +1 123 456 1234</p>
          <p>Email: info@company.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -------------- -->
<div class="container-fluid-10">
  <div class="container">
    <div class="social-icons">
      <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-facebook-f fa-w-10 fa-2x">
        <path fill="currentColor"
          d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
          class=""></path>
      </svg>
      <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-2x">
        <path fill="currentColor"
          d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
          class=""></path>
      </svg>
      <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google-plus-g" role="img"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-google-plus-g fa-w-20 fa-2x">
        <path fill="currentColor"
          d="M386.061 228.496c1.834 9.692 3.143 19.384 3.143 31.956C389.204 370.205 315.599 448 204.8 448c-106.084 0-192-85.915-192-192s85.916-192 192-192c51.864 0 95.083 18.859 128.611 50.292l-52.126 50.03c-14.145-13.621-39.028-29.599-76.485-29.599-65.484 0-118.92 54.221-118.92 121.277 0 67.056 53.436 121.277 118.92 121.277 75.961 0 104.513-54.745 108.965-82.773H204.8v-66.009h181.261zm185.406 6.437V179.2h-56.001v55.733h-55.733v56.001h55.733v55.733h56.001v-55.733H627.2v-56.001h-55.733z"
          class=""></path>
      </svg>
      <p>© 2019 Touché. All rights reserved. Designed by <a href="#">Mahmoud Ibrahim</a></p>
    </div>
  </div>
</div>